<a href="https://colab.research.google.com/github/RohanDevu/ML_24AG5A6620/blob/main/Data_Processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd
data=pd.read_csv('Dataset.csv')
data.head()

     Name   Age Gender  Marks      City
0   Alice  18.0      F   85.0    London
1     Bob   NaN      M   90.0  New york
2  Carthy  19.0      F   95.0       NaN
3   David  18.0      M   72.0    Sydeny
4     Eva  17.0      F    NaN    London

**Filling the Blank Spaces using fillna().**

In [20]:
data.fillna({
    'Age':data['Age'].mean(),
    'Marks':data['Marks'].mean(),
    'City':'Unknown'
},inplace=True)
print(data)

     Name   Age Gender  Marks      City
0   Alice  18.0      F   85.0    London
1     Bob  18.0      M   90.0  New york
2  Carthy  19.0      F   95.0   Unknown
3   David  18.0      M   72.0    Sydeny
4     Eva  17.0      F   85.5    London

In [21]:
import pandas as pd

data={
    'Name': ['Alice','Bob','Alice'],
    'Age': [18,18,18],
    'Gender': ['F','M','F'],
    'Marks': [85,90,85]
}

df=pd.DataFrame(data)

print("Original Data:")
print(df)

Original Data:
    Name  Age Gender  Marks
0  Alice   18      F     85
1    Bob   18      M     90
2  Alice   18      F     85

**Finding the Datatype**

In [22]:
import pandas as pd
df=pd.DataFrame({
    'Name':['John', 'Alice'],
    'Age':['25', '30'],
    'Salary':['50000', '55000']
})
print(df.dtypes)

Name      object
Age       object
Salary    object
dtype: object

**1. Converting specific columns to Desired datatype sing astype().**

In [23]:
df['Age']=df['Age'].astype(int)           #converting to Integer
df['Salary']=df['Salary'].astype(float)   #converting to float
print(df.dtypes)

Name       object
Age         int64
Salary    float64
dtype: object

**2. Using pd.to_numeric()(Handles errors)**

if your data may have the invalid values(numbers and words)

In [24]:
df['Age']=pd.to_numeric(df['Age'],errors='coerce')
print(df.dtypes)

Name       object
Age         int64
Salary    float64
dtype: object

**Encoding categorical Data**

Converts the categories into numbers for analysis.

In [25]:
import pandas as pd
data=pd.read_csv('Dataset.csv')
data.head()

data['Gender']=data['Gender'].map({'F':0,'M':1})
print(data)

     Name   Age  Gender  Marks      City
0   Alice  18.0       0   85.0    London
1     Bob   NaN       1   90.0  New york
2  Carthy  19.0       0   95.0       NaN
3   David  18.0       1   72.0    Sydeny
4     Eva  17.0       0    NaN    London

**use one-hot encoding for city**

In [26]:
data=pd.get_dummies(data,columns=['City'])
print(data)

     Name   Age  Gender  Marks  City_London  City_New york  City_Sydeny
0   Alice  18.0       0   85.0         True          False        False
1     Bob   NaN       1   90.0        False           True        False
2  Carthy  19.0       0   95.0        False          False        False
3   David  18.0       1   72.0        False          False         True
4     Eva  17.0       0    NaN         True          False        False

**Featue Scaling**

Brings all numeric data to the same scale

In [31]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
data['Marks']=scaler.fit_transform(data[['Marks']])
print(data)

     Name   Age  Gender     Marks  City_London  City_New york  City_Sydeny
0   Alice  18.0       0  0.565217         True          False        False
1     Bob   NaN       1  0.782609        False           True        False
2  Carthy  19.0       0  1.000000        False          False        False
3   David  18.0       1  0.000000        False          False         True
4     Eva  17.0       0       NaN         True          False        False

In [33]:
import pandas as pd
data={
    'Name':['Alice','Bob','Cathy','David'],
    'Age':[18,20,22,19],
    'Gender':['F','M','F','M'],
    'Marks':[85,90,78,88]
}
df=pd.DataFrame(data)
print(df)

    Name  Age Gender  Marks
0  Alice   18      F     85
1    Bob   20      M     90
2  Cathy   22      F     78
3  David   19      M     88

**1.New Feture:Grade(based on Marks)**

We can categorize marks into letter grades.

In [50]:
def grade(Marks):
  if Marks>=85:
    return 'A'
  elif Marks>=70:
      return 'B'
  else:
        return 'C'
df['Grade']=df['Marks'].apply(grade)
print(df)

    Name  Age Gender  Marks Grade
0  Alice   18      F     85     A
1    Bob   20      M     90     A
2  Cathy   22      F     78     B
3  David   19      M     88     A

**2.New Feture:Age Group(from Age)**

Group Ages into categories like 'Teen','Young Adult','Adult'.

In [53]:
bins = [0,18,21,100]
labels = ['Teen','Young Adult','Adult']
df['Age Group'] = pd.cut(df['Age'],bins=bins,labels=labels)
print(df)

    Name  Age Gender  Marks Grade    Age Group
0  Alice   18      F     85     A         Teen
1    Bob   20      M     90     A  Young Adult
2  Cathy   22      F     78     B        Adult
3  David   19      M     88     A  Young Adult

**Removing Outliers**

Outliers are values that are much higher or lower than th rest. Here's how to remove marks below 60 and bove 100.

In [56]:
data=pd.read_csv('Dataset.csv')
data=data[(data['Marks']>=60) & (data['Marks']<=100)]
print(data)

     Name   Age Gender  Marks      City
0   Alice  18.0      F   85.0    London
1     Bob   NaN      M   90.0  New york
2  Carthy  19.0      F   95.0       NaN
3   David  18.0      M   72.0    Sydeny

**Splitting Data for Training and Testing**

Divide data into two sets-one for training your model, one for testing it.

In [57]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(data, test_size=0.2)
print("Train Data:\n", train)
print("Test Data:\n", test)

Train Data:
      Name   Age Gender  Marks    City
0   Alice  18.0      F   85.0  London
3   David  18.0      M   72.0  Sydeny
2  Carthy  19.0      F   95.0     NaN
Test Data:
   Name  Age Gender  Marks      City
1  Bob  NaN      M   90.0  New york