<a href="https://colab.research.google.com/github/RohanDevu/ML_24AG5A6620/blob/main/Data_Processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Reading a csv file**

In [163]:
import pandas as pd
data=pd.read_csv('Dataset.csv')
data.head()

     Name   Age Gender  Marks      City
0   Alice  18.0      F   85.0    London
1     Bob   NaN      M   90.0  New york
2  Carthy  19.0      F   95.0       NaN
3   David  18.0      M   72.0    Sydeny
4     Eva  17.0      F    NaN    London

**Filling the Blank Spaces using fillna().**

In [164]:
data.fillna({
    'Age':data['Age'].mean(),
    'Marks':data['Marks'].mean(),
    'City':'Unknown'
},inplace=True)
print(data)

     Name   Age Gender  Marks      City
0   Alice  18.0      F   85.0    London
1     Bob  18.0      M   90.0  New york
2  Carthy  19.0      F   95.0   Unknown
3   David  18.0      M   72.0    Sydeny
4     Eva  17.0      F   85.5    London

In [165]:
import pandas as pd

data={
    'Name': ['Alice','Bob','Alice'],
    'Age': [18,18,18],
    'Gender': ['F','M','F'],
    'Marks': [85,90,85]
}

df=pd.DataFrame(data)

print("Original Data:")
print(df)

Original Data:
    Name  Age Gender  Marks
0  Alice   18      F     85
1    Bob   18      M     90
2  Alice   18      F     85

**Finding the Datatype**

In [167]:
import pandas as pd
df=pd.DataFrame({
    'Name':['John', 'Alice'],
    'Age':['25', '30'],
    'Salary':['50000', '55000']
})
print(df.dtypes)

Name      object
Age       object
Salary    object
dtype: object

**1. Converting specific columns to Desired datatype sing astype().**

In [168]:
df['Age']=df['Age'].astype(int)           #converting to Integer
df['Salary']=df['Salary'].astype(float)   #converting to float
print(df.dtypes)

Name       object
Age         int64
Salary    float64
dtype: object

**2. Using pd.to_numeric()(Handles errors)**

if your data may have the invalid values(numbers and words)

In [169]:
df['Age']=pd.to_numeric(df['Age'],errors='coerce')
print(df.dtypes)

Name       object
Age         int64
Salary    float64
dtype: object

**Encoding categorical Data**

Converts the categories into numbers for analysis.

In [170]:
import pandas as pd
data=pd.read_csv('Dataset.csv')
data.head()

data['Gender']=data['Gender'].map({'F':0,'M':1})
print(data)

     Name   Age  Gender  Marks      City
0   Alice  18.0       0   85.0    London
1     Bob   NaN       1   90.0  New york
2  Carthy  19.0       0   95.0       NaN
3   David  18.0       1   72.0    Sydeny
4     Eva  17.0       0    NaN    London

**use one-hot encoding for city**

In [171]:
data=pd.get_dummies(data,columns=['City'])
print(data)

     Name   Age  Gender  Marks  City_London  City_New york  City_Sydeny
0   Alice  18.0       0   85.0         True          False        False
1     Bob   NaN       1   90.0        False           True        False
2  Carthy  19.0       0   95.0        False          False        False
3   David  18.0       1   72.0        False          False         True
4     Eva  17.0       0    NaN         True          False        False